<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (book$ | async)?.title || ('BOOKS.NEW_BOOK' | translate) }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ng-container *ngIf="loading$ | async; else bookData">
    <ion-spinner color="primary"></ion-spinner>
  </ng-container>

  <ng-template #bookData>
    <ng-container *ngIf="book$ | async as book">
      <app-book-form
        [form]="form"
        [isNew]="isNew"
        (submitForm)="isNew ? createBook($event) : updateBook($event)"
      ></app-book-form>
      <p *ngIf="book?.publisher">{{ 'BOOKS.FIELDS.PUBLISHER' | translate }}: {{ book?.publisher.name }}</p>
      <p *ngIf="book?.edition">{{ 'BOOKS.FIELDS.EDITION' | translate }}: {{ book?.edition }}</p>
    </ng-container>
  </ng-template>
</ion-content>
